# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_LEFT
    def_bool $(shields_list_contains,corne_keyboard_left)

config SHIELD_CORNE_RIGHT
    def_bool $(shields_list_contains,corne_keyboard_right)

config SHIELD_CORNE_RP2350_RIGHT
    def_bool $(shields_list_contains,corne_keyboard_rp2350_right)

config SHIELD_CORNE_KEYBOARD_ZMK_LEFT
    def_bool $(shields_list_contains,corne_keyboard_zmk_left)

config SHIELD_CORNE_KEYBOARD_ZMK_RIGHT
    def_bool $(shields_list_contains,corne_keyboard_zmk_right)
