
export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR=~/zephyr-sdk-0.17.0 #For zephyr v4.1.0 this is the newest version that works
export PATH=$ZEPHYR_SDK_INSTALL_DIR/arm-zephyr-eabi/bin:$PATH
export ZEPHYR_EXTRA_BINDINGS_DIR=$WEST_TOPDIR/app/dts/bindings
export WEST_TOPDIR=$(realpath zmk)
export ZEPHYR_BASE=$WEST_TOPDIR/zephyr
source $ZEPHYR_BASE/zephyr-env.sh
west zephyr-export

. ~/GeekieStuff/zephyrproject/.venv/bin/activate

