# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_RPICO_LEFT
    def_bool $(shields_list_contains,corne_rpico_left)

config SHIELD_CORNE_RPICO_RIGHT
    def_bool $(shields_list_contains,corne_rpico_right)
